.App {
  text-align: center;
  color: aliceblue;
}
/* .App .span{
  color: aquamarine;
} */
.heading{
  color: aqua;
}
.app-subtitle {
  font-size: 18px;
  color: #8aacf6;
  /* font-weight: 500; */
  font-style: italic;
  letter-spacing: 0.5px;
  /* margin-top: 5px; */
  display: block; /* optional, if you want it to behave like a block element */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  margin-top: 20px;
}

video {
  border: 2px solid #000;
  border-radius: 10px;
}
